.main-header{
    .right{
        .header-link{
            position: relative;

            &.active::after{
                background: $color_primary;
                content: "";
                display: block;
                height: 4px;
                opacity: 1;
                position: absolute;
                bottom: -26px;
                transition: all .2s;
                transform: translateY(0);
                width: 100%;
            }
            &::after{
                background: $color_primary;
                content: "";
                display: block;
                height: 4px;
                opacity: 0;
                position: absolute;
                bottom: -26px;
                transition: all .2s;
                transform: translateY(100%);
                width: 100%;
            }
            &:hover:after{
                opacity: 1;
                transform: translateY(0);
            }
        }
       ul{
        width: 100%;
       }
    }
}