// .main-header{
//     .right{
//         .header-link{
//             position: relative;

//             &.active::after{
//                 background: $color_primary;
//                 content: "";
//                 display: block;
//                 height: 4px;
//                 opacity: 1;
//                 position: absolute;
//                 bottom: -26px;
//                 transition: all .2s;
//                 transform: translateY(0);
//                 width: 100%;
//             }
//             &::after{
//                 background: $color_primary;
//                 content: "";
//                 display: block;
//                 height: 4px;
//                 opacity: 0;
//                 position: absolute;
//                 bottom: -26px;
//                 transition: all .2s;
//                 transform: translateY(100%);
//                 width: 100%;
//             }
//             &:hover:after{
//                 opacity: 1;
//                 transform: translateY(0);
//             }
//         }
//        ul{
//         width: 100%;
//        }
//     }
// }
.main-header .desktop-right .menu-header-menu-container{
    width: 100%;

    ul{
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: black;
                font-weight: 600;
                position: relative;
                &::after{
                    background: $color_primary;
                    content: "";
                    display: block;
                    height: 4px;
                    opacity: 0;
                    position: absolute;
                    bottom: -29px;
                    transition: all .2s;
                    transform: translateY(100%);
                    width: 100%;
                }
                &:hover:after{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    #menu-header-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;

        .menu-item-has-children{
            .sub-menu{
                position: absolute;
                border-radius: 4px;      
                animation: a .3s ease-in-out forwards;
                box-shadow: $shadow;  
                transform:scaleY(0);
                display: none;
                padding: 1rem 1rem;
                flex-direction: column;
                background-color: white;
                animation: a .3s ease-in-out forwards;
                transform-origin: top center;

                li{
                    a{
                        &::after{
                            bottom: -8px;
                        }
                    }
                }

            }
            @keyframes a{
                0%{transform:scaleY(0)}
                80%{transform:scaleY(1.1)}
                to{transform:scaleY(1)}
            };
            &:hover{
                .sub-menu{
                    display: flex;
                }
            }
        }
    }
}
