.first-post-content{
    width: 100%;
    border-radius: $border-radius-md;
    overflow: hidden;   
}
.row-post{
    width: 80%;
    height: 70%;
    border-radius: $border-radius-md;
    overflow: hidden;
}
.post-thumbnail-parent{
    // .img-not-exists{
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     transform: scale(1);
    //     transition: transform .4s;
    //     border-radius: $border-radius-md;
    //     &.active{
    //         transform: scale(1.1);
    //     }
    // }
    .attachment-post-thumbnail{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform .4s;
        border-radius: $border-radius-md;
        &.active{
            transform: scale(1.1);
        }
    }
   
}
.attachment-first-post-thumbnail {
    height: 100% !important;
}
.blog-post-title{
    font-weight: 700;
}
.post-title-link{
    text-decoration: none;
    .blog-post-title{
        color: $dark_green;
    }
}
